/* app.css */
:root {
  /* colors */
  --gray-0: rgb(248, 249, 250);
  --gray-05: rgb(243, 246, 249);
  --gray-1: rgb(241, 243, 245);
  --gray-2: rgb(233, 236, 239);
  --gray-25: rgb(229, 234, 240);
  --gray-3: rgb(222, 226, 230);
  --gray-4: rgb(207, 212, 217);
  --gray-45: rgb(195, 202, 209);
  --gray-5: rgb(173, 181, 189);
  --gray-6: rgb(134, 142, 150);
  --gray-65: rgb(93, 100, 107);
  --gray-7: rgb(75, 80, 86);
  --gray-8: rgb(49, 54, 59);
  --gray-9: rgb(33, 37, 41);
  --gray-10: rgb(22, 25, 28);
  --green: rgb(81, 182, 129);
  --green-1: rgb(149, 205, 127);
  --green-2: rgb(115, 177, 138);
  --green-3: rgb(77, 137, 148);
  --green-4: rgb(48, 97, 157);
  --green-5: rgb(48, 55, 157);
  --green-6: rgb(38, 44, 129);
  --red: rgb(243, 70, 70);
  --red-1: rgb(239, 207, 74);
  --red-2: rgb(224, 169, 68);
  --red-3: rgb(211, 125, 54);
  --red-4: rgb(205, 88, 60);
  --red-5: rgb(171, 46, 63);
  --blue: rgb(7, 167, 230);
  --blue-05: rgb(251, 253, 255);
  --blue-1: rgb(112, 189, 238);
  --blue-2: rgb(97, 139, 225);
  --blue-3: rgb(91, 94, 213);
  --blue-4: rgb(98, 58, 198);
  --blue-5: rgb(88, 17, 159);
  --rainbow-1: rgb(218, 102, 183);
  --rainbow-2: rgb(117, 73, 240);
  --rainbow-3: rgb(73, 137, 198);
  --rainbow-4: rgb(114, 191, 141);
  --rainbow-5: rgb(244, 201, 80);
  --orange: rgb(255, 126, 34);
  --yellow: rgb(252, 166, 42);
  --pink: rgb(232, 85, 179);
  --purple: rgb(98, 58, 198);
  --indigo: rgb(90, 67, 241);
  --indigo-dark: rgb(69, 9, 207);
  --indigo-light: rgb(150, 155, 245);
  --indigo-muted: rgb(241, 242, 253);
  --color-neutral-muted: rgba(175,184,193,0.2);

  --color-base: rgb(58, 63, 68);

  --nav-height: 4.375rem;
  --footer-height: 10.25rem;
  font-size: 16px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* base font */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Raleway', sans-serif;;
}

main {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
}

.app-main {
  min-height: calc(100vh - var(--footer-height) - var(--nav-height));
}

header.segment {
  margin: 3.125rem 0;
}

header > h1 {
  font-size:4rem;
  line-height: 1;
  margin-bottom: 1rem;
}

header > h3 {
  margin-bottom: 1.875rem;
  margin-top: 3.125rem;
  font-size: 1.125rem;
  line-height: 1.611em;
}

.container {
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 1125px;
  width: 100%;
}

.segment {
  margin: 2rem  0;
}

@media screen and (max-width: 500px) {
  #nav-bar .ShieldLogoTxt {
      display: none;
  }
  :root {
    --nav-height: 4rem;
  }
}

.img-wrapper {
  overflow: hidden;
  width: 100%;
}

